.news-container {
	padding: 5rem 0;
}

.intro-section {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

.intro-section h4 {
	color: #102082;
	text-transform: uppercase;
}

.intro-section p {
	width: 80%;
	margin: 0 auto;
	margin-top: 1rem;
}

.latest-news-section {
	margin-top: 4rem;
}

.latest-news-section .latest-news {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition: all ease-out 0.5s;
	border-radius: 10px;
	overflow: hidden;
}

.latest-news-section .latest-news .img {
	width: 350px;
	height: 350px;
}

.latest-news-section .latest-news .news-details {
	padding: 2rem;
	flex: 2;
}

.latest-news-section .latest-news .news-details h5 {
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.latest-news-section .latest-news .news-details p {
	margin: 1rem 0;
}

.all-news-section .boxes {
	margin: 3rem 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.all-news-section .boxes .box {
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	overflow: hidden;
	transition: all ease-out 0.5s;
}

.all-news-section .boxes .box .img {
	height: 200px;
}

.all-news-section .boxes .box .details {
	padding: 2rem 1.5rem;
}

.all-news-section .boxes .box .details h6 {
	margin-top: 0.5rem;
}

.all-news-section .boxes .box .details .btn {
	margin-top: 1.5rem;
	width: 100%;
	text-align: center;
}

@media (max-width: 880px) {
	.intro-section p {
		width: 100%;
	}

	.all-news-section .boxes .box .img {
		height: 150px;
	}

	.all-news-section .boxes .box .details {
		padding: 1rem;
	}
}

@media (max-width: 680px) {
	.latest-news-section .latest-news {
		flex-direction: column;
	}

	.latest-news-section .latest-news .img {
		width: 100%;
		height: 250px;
	}

	.latest-news-section .latest-news .news-details {
		padding: 2rem 1.5rem;
	}

	.latest-news-section .latest-news .news-details .btn {
		width: 100%;
	}

	.all-news-section .boxes {
		grid-template-columns: 1fr;
	}

	.all-news-section .boxes .box .img {
		height: 250px;
	}

	.all-news-section .boxes .box .details {
		padding: 2rem 1.5rem;
	}
}

@media (max-width: 480px) {
	.latest-news-section .latest-news .img {
		height: 200px;
	}

	.all-news-section .boxes .box .img {
		height: 200px;
	}
}
