.our-executives {
	background-color: #ffffff;
	color: #ffffff;
	padding: 5rem 0;
}
.our-executives  h2 {
  text-align: center;
  margin-bottom: 20px;
color:blue;
}
.our-executives  p,h4 {
color: black;
}

.our-executives .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 3rem;
}

.our-executives img {
	width: 350px;
	height: 350px;
}

.our-executives .our-executives-content p {
	margin: 1rem 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 10px 20px;
}

.row {margin: 0 5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #fffbfb;
}

h5{
	text-align: center;
  /*margin-bottom: 20px;*/
color:blue;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.tel{
	cursor: pointer;
	border: 1px solid #4f6d81;
	background-color: rgba(24, 100, 171, 0.1);
	height: 50px;
	width: 200px;
	color:  #b1a2a2;
	font-size: 15px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
	
}

/*#3498db, #3498db*/