.executives-container {
	padding: 5rem 0;
}

.intro-section h4 {
	text-align: center;
	/* margin-bottom: 20px; */
	color: #102082;
	text-transform: uppercase;
}

.intro-section p {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 1rem;
}

.executive-head {
	margin-top: 4rem;
}

.executive-head p,
h4 {
	color: black;
}

.executive-head {
	/* display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2rem; */
	/* background-color: red; */
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
	/* transition: all ease-out 0.5s; */
	/* border-radius: 10px; */
	/* overflow: hidden; */
}

.executive-head img {
	width: 350px;
	height: 350px;
}

.executive-head .about-content {
	padding: 0 2rem 2rem 2rem;
	flex: 2;
}

.executive-head .about-content h5 {
	color: #102082;
	margin-bottom: 2rem;
}

.executive-head .about-content p {
	margin: 0.5rem 0;
}

.executive-head .about-content .contact-details {
	/* margin: 1rem 0 4rem 0; */
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.executive-head .about-content .contact-details i {
	font-size: 1.2rem;
	margin-right: 0.5rem;
}

.executive-head .about-content .contact-details .btn {
	font-size: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn.twitter {
	border: 2px solid #1e9beb;
}

.btn.twitter:hover {
	background-color: #1e9beb;
	color: #ffffff;
}

.btn.instagram {
	border: 2px solid #bf2e8e;
}

.btn.instagram:hover {
	background-color: #bf2e8e;
	color: #ffffff;
}

.btn.whatsapp {
	border: 2px solid #2acb45;
}

.btn.whatsapp:hover {
	background-color: #2acb45;
	color: #ffffff;
}

.profile-section .boxes {
	margin: 3rem 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.profile-section .boxes .box {
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	overflow: hidden;
	transition: all ease-out 0.5s;
}
.profile-section .boxes .box:hover {
	transform: scale(1.02);
}

.profile-section .boxes .box .img {
	height: 350px;
}

.profile-section .boxes .box .details {
	padding: 2rem 1.5rem;
	text-align: center;
}

.profile-section .boxes .box .details h5 {
	text-transform: uppercase;
	color: #102082;
}

.profile-section .boxes .box .details h6 {
	margin-top: 0.5rem;
	font-size: 0.7rem;
}

.profile-section .boxes .box .details .contact-details {
	margin-top: 2rem;
}

.profile-section .boxes .box .details .btn {
	margin-bottom: 0.5rem;
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
}

@media (max-width: 880px) {
	.intro-section p {
		width: 100%;
	}

	.profile-section .boxes .box .img {
		height: 250px;
	}

	.profile-section .boxes .box .details {
		padding: 1rem;
	}

	.executive-head .about-content .contact-details .btn {
		width: 100%;
	}
}

@media (max-width: 680px) {
	.executive-head {
		flex-direction: column;
	}

	.executive-head img {
		width: 100%;
		height: 350px;
	}

	.executive-head .about-content {
		padding: 2rem 1.5rem;
	}

	/* .executive-head .article-details .btn {
		width: 100%;
	} */

	.profile-section .boxes {
		grid-template-columns: 1fr;
	}

	.profile-section .boxes .box .img {
		height: 350px;
	}

	.profile-section .boxes .box .details {
		padding: 2rem 1.5rem;
	}
}

@media (max-width: 480px) {
	.executive-head img {
		height: 250px;
	}

	.profile-section .boxes .box .img {
		height: 250px;
	}
}
